{% extends 'base.html.twig' %}

{% block title %}Warehouses index{% endblock %}

{% block body %}
    <h1>Warehouses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td>{{ warehouse.id }}</td>
                <td>{{ warehouse.quantity }}</td>
                <td>
                    <a href="{{ path('app_warehouses_show', {'id': warehouse.id}) }}">show</a>
                    <a href="{{ path('app_warehouses_edit', {'id': warehouse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_warehouses_new') }}">Create new</a>
{% endblock %}
